{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>expense-tracker</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">
        <div class="uploadtra">
            <p class="uploadintro">EDIT TRANSACTION</p>
            <h2 class="uploadhead">Edit transaction details</h2>

            <form class="traform" method="POST">
                {% csrf_token %}

                <div class="row">
                    <div class="col-lg-6 formbox">
                        <label>Amount</label>
                        <div class="amountbox">
                            <span>₹</span>
                            <input required type="number" name="amount" step="0.01"
                                value="{{ transaction.amount }}" required>
                        </div>
                    </div>

                    <div class="col-lg-6 formbox">
                        <label>Category</label>

                        <select name="category" required>
                            <option value="">Select category</option>

                            <option value="Income"
                                {% if transaction.category == "Income" %}selected{% endif %}>
                                Income
                            </option>

                            <option value="Expense"
                                {% if transaction.category == "Expense" %}selected{% endif %}>
                                Expense
                            </option>
                        </select>
                    </div>

                    <div class="col-lg-6 formbox">
                        <label>Date</label>
                        <input type="date" name="date"
                            value="{{ transaction.date|date:'Y-m-d' }}" required>
                    </div>

                    <div class="col-lg-6 formbox">
                        <label>Description</label>
                        <input type="text" name="description"
                            value="{{ transaction.description }}" required>
                    </div>
                </div>

                <div class="formbtn">
                    <a href="{% url 'index' %}" class="canceltra">Cancel</a>
                    <button type="submit" class="savetra">Update transaction</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>