{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>expense-tracker</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <nav>
        <p class="intro">PERSONAL FINANCE</p>
        <div class="firstbtn">
            <h1 class="gdfaies">Good morning, Faies</h1>
            <a class="addtra" href="{% url 'formm' %}" style="text-decoration: none;">+ Add transaction</a>
            
        </div>

    </nav>

    <div class="container">
    <div class="row">
        <div class="col-lg-5 cards" style="background-color: #1A4B45;color: #fff;">
            <p>Available Balance</p>
            <h1>₹ {{ available_balance|floatformat:2 }}</h1>
        </div>&nbsp;

        <div class="col-lg-3 cards" style="background-color: #FFFEFB;">
            <p style="font-size: 24px;padding: 0px 9px;background-color: lightgreen;border-radius: 8px;width: fit-content;">
                ↙
            </p>
            <p>Total income</p>
            <h4 class="incomeamt">₹ {{ total_income }}</h4>
        </div>&nbsp;

        <div class="col-lg-3 cards" style="background-color: #FFFEFB;">
            <p style="font-size: 24px;padding: 0px 9px;background-color: lightcoral;border-radius: 8px;width: fit-content;">
                ↗
            </p>
            <p>Total expense</p>
            <h4 class="expenseamt">₹ {{ total_expense }}</h4>
        </div>
    </div>
</div>

    <div class="container">
        <div class="split" style="display: flex;justify-content: space-between;">
            <h2 style="font-size: 21px;">Recent transactions</h2>
            <a href="{% url 'formm' %}" style="text-decoration: none;color: #3b8a81;font-weight: bold;">+ New</a>
        </div>
        <p style="font-size: 12px;margin-top: -18px;margin-left: 4px;">Track every move, big or small.</p>
        <div class="filterbtn">
    <a href="{% url 'index' %}"
        class="{% if filter_type == 'All' %}activefilter{% endif %}">
        All
    </a>

    <a href="?category=Income"
        class="{% if filter_type == 'Income' %}activefilter{% endif %}">
        Income
    </a>

    <a href="?category=Expense"
        class="{% if filter_type == 'Expense' %}activefilter{% endif %}">
        Expense
    </a>
</div>

        <div style="border-bottom: 1px solid gray;margin: 10px;"></div>


        {% for transaction in transactions %}
        <div class="tracard">
            <div class="datecard">
                <p>DATE</p>
                <h6>{{ transaction.date }}</h6>
            </div>

            <div class="amountcard">
                <p>AMOUNT</p>

                {% if transaction.category == "Expense" %}
                <h5 class="expenseamt">- ₹ {{ transaction.amount }}</h5>
                {% else %}
                <h5 class="incomeamt">₹ {{ transaction.amount }}</h5>
                {% endif %}
            </div>

            <div class="categorycard">
                <p>CATEGORY</p>

                {% if transaction.category == "Expense" %}
                <span class="expensecat">{{ transaction.category }}</span>
                {% else %}
                <span class="incomecat">{{ transaction.category }}</span>
                {% endif %}
            </div>

            <div class="descard">
                <p>DESCRIPTION</p>
                <h6>{{ transaction.description }}</h6>
            </div>

            
            <form  method="POST" action="{% url 'delete' transaction.id %}">
                {% csrf_token %}
                <button type="submit" class="deletetra">Delete</button><a href="{% url 'edit' transaction.id %}" class="edittra" >Edit</a>
            </form>
            
        </div>

        {% empty %}
        <p class="notra">No transactions added yet.</p>
        {% endfor %}

    </div>


















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>